<div (click)="scrollToTop()" class="fixed bottom-10 right-10">
  <div
    [ngClass]="show() ? 'top-0 opacity-100' : 'top-5 opacity-0'"
    class="back-to-top relative transition-all hover:scale-110"
  >
    <svg class="progress-circle" viewBox="0 0 36 36">
      <path
        class="circle-bg"
        d="M18 2.0845
     a 15.9155 15.9155 0 0 1 0 31.831
     a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path
        id="progress-path"
        class="circle"
        stroke-dasharray="0, 100"
        d="M18 2.0845
     a 15.9155 15.9155 0 0 1 0 31.831
     a 15.9155 15.9155 0 0 1 0 -31.831"
      />
    </svg>
    <div class="arrow rounded-full text-center align-middle text-3xl">
      <i class="lni lni-arrow-upward text-primary"></i>
    </div>
  </div>
</div>
