<section>
  <div class="h-32 bg-gradient-to-br from-primary to-indigo-400"></div>
  <app-container>
    <div
      class="mx-auto max-w-screen-xl px-4 py-8 text-sm sm:py-16 md:text-base lg:px-6">
      <h2
        class="mb-8 text-center text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
        Frequently asked questions
      </h2>

      <div
        class="grid gap-5 border-t border-gray-200 pt-8 text-left md:grid-cols-2 md:gap-14 dark:border-gray-700">
        @for (faq of faqs; track $index) {
          <app-faq-item [faq]="faq" />
        }
      </div>
    </div>
  </app-container>
</section>
