<div class="rounded-xl border p-3">
  <!-- Img Preview -->
  <div class="w-full rounded-lg overflow-hidden mb-5">
    <app-image-zoom [src]="images()[current_index()].url" />
  </div>
  <!-- Img Selector -->
  <ul class="grid grid-cols-4 gap-5">
    @for(image of images(); track $index) {
    <li
      class="rounded-lg overflow-hidden border border-transparent transition cursor-pointer group"
      (click)="onChangeImage($index)"
      [ngClass]="
        current_index() === $index
          ? 'border-primary'
          : 'hover:border-indigo-200'
      "
    >
      <img
        class="group-hover:scale-110 object-cover transition"
        [src]="image.url"
        [alt]="image.id"
      />
    </li>
    }
  </ul>
</div>
