<section>
  <app-container>
    <!-- Breadcrumbs -->
    <app-breadcrumbs
      [breadcrumbs]="[
        { icon: 'lni-home-2', route: '/' },
        {
          title: 'Browse Products',
        },
      ]" />

    <div class="grid grid-cols-5 gap-5">
      <aside
        (click)="filtersToggled() ? onToggleFilters() : null"
        class="fixed top-0 z-20 col-span-1 h-screen overflow-auto border-r bg-white px-10 pt-32 text-xs transition-all md:static md:-z-0 md:block md:px-0 md:pt-0 lg:text-base"
        [class]="filtersToggled() ? 'left-0' : '-left-full md:left-0'">
        <!-- Mobile Close Button -->
        <button
          (click)="onToggleFilters()"
          class="absolute right-5 top-3 md:hidden">
          <i class="lni lni-xmark text-3xl text-primary"></i>
        </button>

        <p class="mb-4 text-sm font-medium text-slate-500">Categories</p>

        <ul class="space-y-2">
          <!-- Category filters -->
          @for (category of categories(); track $index) {
            <li>
              <label
                for="{{ category.id }}"
                class="cursor-pointer select-none space-x-2 transition hover:text-primary">
                <input
                  (change)="onCategoryCheckChange($event, category.slug)"
                  [checked]="IsCategoryChecked(category.slug)"
                  id="{{ category.id }}"
                  class="rounded border-gray-300 bg-gray-100 text-blue-600 checked:bg-blue-600"
                  type="checkbox" />
                <span>{{ category.name }}</span>
                <span class="text-[11px]"
                  >({{ category.products.length }})</span
                >
              </label>
            </li>
          }
        </ul>
      </aside>

      <main class="col-span-5 md:col-span-4">
        <!-- Top bar -->
        <div class="flex items-center justify-between rounded-lg border p-1">
          <div class="flex items-center">
            <button
              (click)="onToggleFilters()"
              type="button"
              (click)="viewType.set('grid')"
              class="flex h-10 w-10 items-center justify-center rounded-md transition hover:bg-indigo-100/50 md:hidden">
              <i class="lni lni-funnel-1 text-2l text-primary"></i>
            </button>
            <button
              type="button"
              (click)="viewType.set('grid')"
              [class]="
                viewType() === 'grid'
                  ? 'bg-primary text-white'
                  : 'hover:bg-indigo-100/50'
              "
              class="flex h-10 w-10 items-center justify-center rounded-md transition">
              <i class="lni lni-dashboard-square-1 text-2xl"></i>
            </button>
            <button
              type="button"
              (click)="viewType.set('list')"
              [class]="
                viewType() === 'list'
                  ? 'bg-primary text-white'
                  : 'hover:bg-indigo-100/50'
              "
              class="flex h-10 w-10 items-center justify-center rounded-md transition">
              <i class="lni lni-menu-cheesburger text-2xl"></i>
            </button>
          </div>

          <div class="flex-grow"></div>

          <select
            (change)="RefreshProducts()"
            [(ngModel)]="orderBy"
            class="block cursor-pointer select-none rounded-lg border border-transparent p-2.5 text-sm transition hover:border-primary focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary">
            <option value="name_ASC" selected>Name, A to Z</option>
            <option value="name_DESC">Name, Z to A</option>
            <option value="price_ASC">Price, Low to High</option>
            <option value="price_DESC">Price, High to Low</option>
          </select>
        </div>

        <div class="pt-4">
          @if (filters().categories.length > 0) {
            <i class="lni lni-funnel-1 mr-2 text-slate-400"></i>
          }
          @for (cat_slug of filters().categories; track $index) {
            <button
              (click)="onRemoveFilter(cat_slug)"
              class="mb-2 mr-2 inline animate-fade-in-left select-none items-center space-x-2 rounded-md border bg-indigo-100 px-2 py-0.5 text-sm capitalize text-primary opacity-0"
              type="button">
              <span>{{ cat_slug }}</span>
              <i class="lni lni-xmark relative top-0.5"></i>
            </button>
          }
        </div>

        <div
          class="mt-5 grid gap-5"
          [class]="
            viewType() === 'grid'
              ? 'grid-cols-2 md:grid-cols-3 lg:grid-cols-4'
              : 'grid-cols-1'
          ">
          @for (product of products(); track $index) {
            <app-product-card
              [viewType]="viewType()"
              [product]="product"></app-product-card>
          }
        </div>

        @if (products().length === 0) {
          <div
            class="flex h-1/2 flex-col items-center justify-center rounded-lg bg-slate-100 py-32">
            <img
              class="h-32 grayscale"
              src="assets/images/illustrations/clothes-hanger.png"
              alt="No Results" />
            <p class="mt-4 text-lg font-light text-slate-400">
              No products to show
            </p>
          </div>
        }

        <div class="mt-5 flex items-center border-t pt-5">
          <div class="flex-grow text-sm font-medium">
            Showing
            {{ current_page_start() }}
            - {{ current_page_end() }} of {{ pagination().total }} total
          </div>

          <div class="flex items-center space-x-4">
            @if (pagination().hasPreviousPage) {
              <app-button (click)="onPrevPage()">Prev</app-button>
            }
            @if (pagination().hasNextPage) {
              <app-button (click)="onNextPage()">Next</app-button>
            }
          </div>
        </div>
      </main>
    </div>
  </app-container>
</section>
