<section>
  <app-container>
    <div class="space-y-20 pt-10">
      <app-hero />

      <section>
        <h3 class="text-center mb-10">
          Our Most Popular <span class="text-primary">Categories</span>
        </h3>
        <app-popular-categories />
      </section>

      <div class="border-t"></div>

      <section>
        <h3 class="font-medium capitalize">
          Today's trending <span class="text-primary">products</span>
        </h3>
        <p class="font-light mb-10">
          People are going crazy over these products.
        </p>
        <app-popular-products> </app-popular-products>
      </section>

      <div class="border-t"></div>

      <section class="">
        <div class="grid grid-cols-4 gap-x-8">
          <app-info-card
            title="Free Shipping"
            subTitle="Free shipping on all Us order or above €200"
            src="assets/images/illustrations/1.png" />

          <app-info-card
            title="24x7 Support"
            subTitle="Contact us 24 hours a day, 7 days a week"
            src="assets/images/illustrations/2.png" />

          <app-info-card
            title="30 Days Return"
            subTitle="Simply return it within 30 days for an exchange"
            src="assets/images/illustrations/3.png" />

          <app-info-card
            title="Payment Secure"
            subTitle="Contact us 24 hours a day, 7 days a week"
            src="assets/images/illustrations/4.png" />
        </div>
      </section>
    </div>
  </app-container>
</section>
