<section class="py-20">
  <app-container>
    @if (shoppingCartItems().length > 0) {
      <!-- Heading -->
      <h2
        class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
        Your Shopping Cart
      </h2>

      <!-- Cart -->
      <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
        <!-- Items -->
        <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
          @for (item of shoppingCartItems(); track $index) {
            <app-shopping-cart-item
              [product]="item.product"
              [quantity]="item.quantity" />
          }
        </div>

        <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
          <!-- Order summary -->
          <div
            class="space-y-4 rounded-lg bg-slate-100 p-4 sm:p-6 dark:border-gray-700 dark:bg-gray-800">
            <p class="text-xl font-semibold text-gray-900 dark:text-white">
              Order summary
            </p>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt
                    class="text-base font-normal text-gray-500 dark:text-gray-400">
                    Original price
                  </dt>
                  <dd
                    class="text-base font-medium text-gray-900 dark:text-white">
                    {{ totalSub() | currency: 'EUR' : 'symbol' : '1.0-0' }}
                  </dd>
                </dl>

                @if (totalDiscount() > 0) {
                  <dl class="flex items-center justify-between gap-4">
                    <dt
                      class="text-base font-normal text-gray-500 dark:text-gray-400">
                      <p>Discount {{ discount() }}%</p>
                      <p class="text-xs font-medium uppercase text-primary">
                        CODE: {{ voucherCode() }}
                      </p>
                    </dt>
                    <dd class="text-base font-medium text-green-600">
                      -{{
                        totalDiscount() | currency: 'EUR' : 'symbol' : '1.0-0'
                      }}
                    </dd>
                  </dl>
                }

                <dl class="flex items-center justify-between gap-4">
                  <dt
                    class="text-base font-normal text-gray-500 dark:text-gray-400">
                    VAT 18%
                  </dt>
                  <dd
                    class="text-base font-medium text-gray-900 dark:text-white">
                    {{ totalTax() | currency: 'EUR' : 'symbol' : '1.0-0' }}
                  </dd>
                </dl>
              </div>

              <dl
                class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                <dt class="text-base font-bold text-gray-900 dark:text-white">
                  Total
                </dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white">
                  {{ totalPrice() | currency: 'EUR' : 'symbol' : '1.0-0' }}
                </dd>
              </dl>
            </div>

            <div class="py-5">
              <app-button (click)="Checkout()" type="button"
                >Finish &amp; Checkout</app-button
              >
            </div>

            <div class="flex items-center justify-center gap-2">
              <span
                class="text-sm font-normal text-gray-500 dark:text-gray-400">
                or
              </span>
              <a
                [routerLink]="'/'"
                title=""
                class="text-primary-700 dark:text-primary-500 inline-flex items-center gap-2 text-sm font-medium underline hover:no-underline">
                Continue Shopping
                <svg
                  class="h-5 w-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 12H5m14 0-4 4m4-4-4-4" />
                </svg>
              </a>
            </div>
          </div>

          <!-- Voucher -->
          <div
            class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6 dark:border-gray-700 dark:bg-gray-800">
            @if (voucherCode().length > 0) {
              <div>
                <div class="text-xs uppercase text-slate-400">
                  Discount Code Applied
                </div>
                <p
                  class="mb-4 text-2xl font-semibold text-primary dark:text-white">
                  {{ voucherCode() }}
                </p>
                <app-button (click)="RemoveVoucher()" type="button">
                  <i class="lni lni-xmark mr-2 text-xl"></i> Remove Code
                </app-button>
              </div>
            } @else {
              <form class="space-y-4">
                <div class="mb-4">
                  <label
                    for="voucher"
                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                    Do you have a voucher or gift card?
                  </label>
                  <input
                    [(ngModel)]="voucherInput"
                    type="text"
                    name="voucher"
                    id="voucher"
                    class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400"
                    placeholder=""
                    required />
                </div>
                <app-button (click)="ApplyVoucher()" type="button">
                  Apply Code
                </app-button>
              </form>
            }
          </div>
        </div>
      </div>

      <!-- People also bought -->
      <div class="mt-10 border-t">
        <h3 class="my-10 text-2xl font-semibold text-gray-900 dark:text-white">
          People also bought
        </h3>

        <app-product-suggestions />
      </div>
    } @else {
      <div class="flex flex-col items-center justify-center space-y-10">
        <img
          class="h-32"
          src="assets/images/illustrations/shopping.png"
          alt="Shopping Cart" />
        <h2 class="text-slate-300">Looks like your shopping cart is empty</h2>

        <a [routerLink]="['/browse']"
          ><app-button>Browse Products</app-button></a
        >
      </div>
    }
  </app-container>
</section>
