<div class="grid grid-cols-2 gap-5 md:grid-cols-4 lg:grid-cols-6">
  @for (item of productsStore.popularCategories(); track $index) {
    <a
      [routerLink]="['/browse']"
      [queryParams]="{ categories: [item.slug] }"
      [class]="$index > 3 ? 'block md:hidden lg:block' : ''">
      <div
        class="h-28 cursor-pointer rounded-xl bg-slate-50 bg-cover shadow-md shadow-indigo-200 transition-all hover:scale-105 hover:bg-[-120%] hover:shadow-xl"
        style="
          background-image: url('assets/images/backgrounds/background-1.jpg');
        ">
        <div
          class="flex h-full w-full items-center justify-center rounded-xl bg-black/50 text-white">
          <div class="text-center">
            <p>{{ item.name }}</p>
            <p class="text-xs">({{ item.products.length }})</p>
          </div>
        </div>
      </div>
    </a>
  }
</div>
