<header class="w-full border-b py-2 md:py-4">
  <app-container>
    <div class="flex items-center">
      <!-- Logo -->
      <div class="flex-none">
        <a [routerLink]="['/']">
          <img src="assets/images/logo.svg" alt="logo" class="w-5 md:w-10" />
        </a>
      </div>

      <div class="flex items-center md:mx-5 lg:mx-10">
        <a [routerLink]="['/browse']" class="hidden md:block">
          <button
            dropdown-trigger
            aria-label="Account"
            type="button"
            class="flex items-center rounded-lg px-2 py-1 transition hover:bg-indigo-100/50">
            All Products
          </button>
        </a>

        <div class="mx-2 hidden h-10 border-r md:block"></div>

        <!-- Category Selector -->
        <app-dropdown [alignRight]="true">
          <button
            dropdown-trigger
            aria-label="Account"
            type="button"
            class="flex items-center rounded-lg px-2 py-1 transition hover:bg-indigo-100/50">
            Categories
            <i class="lni lni-chevron-down ml-1"></i>
          </button>

          <div
            class="relative z-50 grid w-72 grid-cols-2 bg-white p-2"
            dropdown-menu>
            <a [routerLink]="['/browse']">
              <div
                class="cursor-pointer rounded-lg p-2 hover:bg-indigo-50/50 hover:text-primary">
                <span>All Products</span>
              </div>
            </a>
            @for (cat of productStore.categories(); track $index) {
              <a
                [routerLink]="['/browse']"
                [queryParams]="{ categories: [cat.slug] }">
                <div
                  class="cursor-pointer rounded-lg p-2 hover:bg-indigo-50/50 hover:text-primary">
                  <span>{{ cat.name }}</span>
                  <span class="ml-1 text-xs text-slate-400"
                    >({{ cat.products.length }})</span
                  >
                </div>
              </a>
            }
          </div>
        </app-dropdown>
      </div>

      <!-- Search -->
      <div class="flex-1 md:mr-5 lg:mr-10">
        <app-searchbar />
      </div>

      <!-- User Section -->
      <div class="flex items-center">
        <!-- Shopping Cart -->
        <button
          [routerLink]="['shopping-cart']"
          aria-label="Cart"
          type="button"
          class="flex items-center rounded-lg px-2 py-1 transition hover:bg-indigo-100/50">
          <div class="text-3xl">
            <i class="lni lni-cart-2 text-[23px] text-primary md:text-3xl"></i>
          </div>
          <div class="ml-1 text-left">
            <p class="text-xs">
              <b>{{ productStore.totalShoppingCartItems() }}</b>
              <span class="hidden h-10 md:inline"> Items</span>
            </p>
            <p class="hidden h-10 text-sm md:inline"><b>Cart</b></p>
          </div>
        </button>

        <!-- Divider -->
        <div class="mx-4 h-10 border-l"></div>

        <!-- User -->
        @if (authStore.isAuthenticated()) {
          <app-dropdown>
            <button
              dropdown-trigger
              aria-label="Account"
              type="button"
              class="flex items-center rounded-lg px-2 py-1 transition hover:bg-indigo-100/50">
              <img
                [ngSrc]="'/assets/images/avatar.png'"
                width="30"
                height="30"
                alt="Avatar"
                class="rounded-full" />
              <div class="ml-2 hidden h-10 text-left md:block">
                <p class="text-xs">Welcome</p>
                <p class="text-sm">
                  <b>{{ authStore.user()?.name }}</b>
                </p>
              </div>
              <i class="lni lni-chevron-down ml-1"></i>
            </button>

            <app-dropdown-menu dropdown-menu>
              <app-dropdown-menu-item>
                <a (click)="doLogout()" class="block">Logout</a>
              </app-dropdown-menu-item>
            </app-dropdown-menu>
          </app-dropdown>
        } @else {
          <a [routerLink]="['login']">
            <button
              aria-label="Account"
              type="button"
              class="flex items-center rounded-lg px-2 py-1 transition hover:bg-indigo-100/50">
              <i class="lni lni-user-4 text-3xl text-primary"></i>
              <div class="ml-1 text-left">
                <p class="text-xs">Account</p>
                <p class="text-sm"><b>Login</b></p>
              </div>
            </button>
          </a>
        }
      </div>
    </div>
  </app-container>
</header>
