<div
  class="flex min-h-screen w-screen justify-end bg-[url('/assets/images/backgrounds/background-1.jpg')] bg-cover bg-no-repeat">
  <!-- Panel -->
  <div
    class="flex w-full items-center justify-center bg-white md:w-4/5 md:rounded-l-xl xl:w-2/5">
    <!-- Content Wrapper -->
    <div class="animation-delay-300 animate-fade-in-up py-10 opacity-0">
      <header>
        <a [routerLink]="['/']">
          <img
            class="mx-auto h-10 w-auto"
            src="/assets/images/logo.svg"
            alt="TMA Shop" />
        </a>
        <h2
          class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">
          Sign in to start shopping!
        </h2>
      </header>

      <!-- Login Form -->
      <div class="mt-10">
        <form
          (ngSubmit)="onLogin()"
          [formGroup]="loginForm"
          class="space-y-6"
          action="#"
          method="POST">
          <!-- Email field -->
          <div>
            <label for="email" class="form-label">Email address</label>

            <div class="relative mt-2">
              <input
                formControlName="email"
                type="email"
                name="email"
                id="email"
                placeholder="Email Address"
                autocomplete="email"
                required
                class="input-normal" />

              @if (loginForm.get('email')?.hasError('email')) {
                <p @fadeAnimation class="form-error">Email is invalid</p>
              }
            </div>
          </div>

          <!-- Password field -->
          <div>
            <div class="flex items-center justify-between">
              <label for="password">Password</label>
              <div class="text-sm">
                <a [routerLink]="['/']" class="font-semibold">
                  Forgot password?
                </a>
              </div>
            </div>
            <div class="mt-2">
              <input
                formControlName="password"
                type="password"
                placeholder="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
                class="input-normal" />
            </div>
          </div>

          <!-- Sign in button -->
          <div>
            <app-button type="submit" [disabled]="loginForm.invalid">
              Sign in
            </app-button>
          </div>
        </form>

        <p class="mt-10 text-center text-sm/6 text-gray-500">
          <span>Not a member?</span>
          <a
            [routerLink]="['/']"
            class="ml-2 font-semibold text-indigo-600 hover:text-indigo-500">
            Register for free!
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
