<div class="relative inline-block text-left">
  <!-- Trigger -->
  <div (click)="onToggleDropdown()" class="cursor-pointer">
    <ng-content select="[dropdown-trigger]"></ng-content>
  </div>

  <!-- Dropdown Menu -->
  @if (isOpen()) {
    <div
      (click)="onToggleDropdown()"
      @dropdownAnimation
      class="absolute z-40 mt-2 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      [class]="alignRight() ? 'left-0' : 'right-0'">
      <ng-content select="[dropdown-menu]"></ng-content>
    </div>
  }
</div>
