<div
  class="bg-slate-100 shadow-lg shadow-indigo-50 p-[30px] rounded-[20px] text-center">
  <div class="mb-[20px] flex justify-center">
    <img [src]="src()" alt="services-1" class="w-[50px]" />
  </div>
  <div class="">
    <h4
      class="text-primary mb-[8px] text-[18px] font-bold text-[#3d4750] leading-[1.2] tracking-[0.03rem]">
      {{ title() }}
    </h4>
    <p
      class="font-light text-[14px] leading-[20px] text-[#686e7d] tracking-[0.03rem]">
      {{ subTitle() }}
    </p>
  </div>
</div>
