<div *ngIf="product() as product">
  <!-- Product View -->
  <section class="my-14">
    <app-container>
      <!-- Breadcrumbs -->
      <app-breadcrumbs
        [breadcrumbs]="[
        { icon: 'lni-home-2', route: '/' },
          {
            title: product.collection.name,
            route: '/browse',
            queryParams: { collection: product.collection.slug }
          },
          {
            title: product.name,
          }
        ]" />

      <div class="grid grid-cols-5 gap-5">
        <!-- Image Preview -->
        <div class="col-span-2">
          <app-image-preview [images]="product.images" />
        </div>
        <!-- Product Details -->
        <div class="col-span-3">
          <h3>{{ product.name }}</h3>
          <p class="text-slate-400 font-light">SKU: {{ product.id }}</p>

          <div class="my-5 flex items-center">
            <app-product-rating [rating]="product.rating" />
            <span class="ml-2 text-slate-300">| </span>
            <span class="ml-2">
              {{ review_count * product.rating }} Reviews</span
            >
          </div>
          <p class="mb-10 font-medium text-3xl">
            {{ product.price | currency : 'EUR' : 'symbol' : '1.0-0' }}
          </p>

          <h6 class="font-medium">Product Description</h6>

          <p class="tracking-wide font-light">{{ product.description }}</p>

          @if(addedToCart()) {
          <div
            class="mt-10 inline-block text-xl rounded-xl bg-primary text-white p-4">
            <div class="flex items-center">
              <i class="lni lni-check-circle-1 text-3xl mr-4"></i>

              <span
                ><b>{{ quantity() }}</b> Item{{
                  quantity() > 1 ? 's' : ''
                }}
                added to cart!</span
              >
            </div>
          </div>
          }@else {
          <div class="mt-10">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Choose quantity:</label
            >
          </div>
          <div class="flex items-center">
            <app-quantity-selector [(quantity)]="quantity" />
            <app-button (click)="onAddToCart()" class="ms-3" type="submit"
              >Add to Cart</app-button
            >
          </div>
          @if (cartCount()> 0) {
          <p class="mt-4 text-sm">
            You have
            <span class="text-primary font-bold text-xl">{{
              cartCount()
            }}</span>
            already in your shopping cart.
          </p>
          } }

          <app-countdown-timer />
        </div>
      </div>

      <div class="pt-10 border-t mt-20">
        <h3 class="mb-5">Related Products</h3>
        <app-popular-products />
      </div>
    </app-container>
  </section>
</div>
